<!--<div class='col-md-8 offset-md-1'>-->
  <!--<div class='row'>-->
  <div>
<h2>商品一覧(全<%=@items.count %>件)</h2>
  </div>

  <% @items.each do |item| %>
  <div>
  <%= image_tag item.get_item_image(200, 200) %>
  <p><%= link_to item.name, items_show_path(item.id) %></p>
  <p>¥<%= item.price.to_s(:delimited) %></p>
  <% end %>
  </div>
<%= paginate @items %>