<!DOCTYPE html>
<html>
  <head>
    <title>WorkGithub</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <th>
        <tr>
          <td><%= link_to "LOGO", root_path %></td>
          <td>About</td>
          <td>商品一覧</td>
          <% if customer_signed_in? %>
           <td><%= link_to "ログアウト", destroy_customer_session_path, method: :delete %></td>
          <% else %>
           <td><%= link_to "新規登録", new_customer_registration_path %></td>
           <td><%= link_to "ログイン", new_customer_session_path %></td>
          <% end %>
        </tr>
      </th>
    </header>
    <%= yield %>
  </body>
</html>
